@model IEnumerable<HADev.Delivery.Domain.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgaoEspedidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrupoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCadastroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAlteracaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atualizar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaCDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgaoEspedidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoPessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCadastroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAlteracaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atualizar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaCDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
